fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6
pydantic-settings==2.8.1
SQLAlchemy==2.0.39
psycopg2-binary==2.9.10
alembic==1.15.1
python-dotenv==1.0.1
requests==2.32.3  # если используется
boto3==1.37.11  # если используется
cryptography==44.0.2
bcrypt==4.3.0  # если используется
email_validator==2.2.0  # если используется
typing_extensions==4.12.2
python-socketio==5.12.1
python-engineio==4.11.2
simple-websocket==1.1.0
wsproto==1.2.0
python-multipart==0.0.20  # для обработки файлов и multipart-запросов